<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title">
        {{ title }}
      </h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Product</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor='let product of products; index as i'>
            <tr *ngIf="i < rows">
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.price | number }}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="removeElement(product.id)">Delete</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
